<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <!--<bean id="developer" class="com.gergambarte.Developer" scope="prototype"></bean>-->
    <bean id="developer" class="com.gergambarte.Developer">
        <property name="age" value="26"/>
        <property name="lap" ref="laptop"/>
    </bean>
    <bean id="laptop" class="com.gergambarte.Laptop"></bean>
</beans>